/BuildUp/obj/
/BuildUp/bin


/BuildUp/obj/Debug
BuildUp/bin/Debug/net9.0/BuildUp.dll
BuildUp/bin/Debug/net9.0/BuildUp.exe
BuildUp/bin/Debug/net9.0/BuildUp.dll
BuildUp/bin/Debug/net9.0/BuildUp.exe
BuildUp/bin/Debug/net9.0/BuildUp.dll
BuildUp/bin/Debug/net9.0/BuildUp.exe
/BuildUp/bin/Debug
